#notTitle {
	position: relative;
	z-index: 3;
}

.memberInput {
	text-align: center;
	border-radius: 8px;
	background-color: white;
	margin: 8px 0px;
	width: 80%;
	border: 3px solid black;
}

.passInput {
	text-align: center;
	border-radius: 8px;
	background-color: white;
	margin: 8px 0px;
	width: 30%;
	border: 3px solid black;
	font-size: 24px;
}

#pendingMembers > p {
	margin-bottom: 1rem !important;
}

.noPending {
	font-size: 2rem;
	font-weight: 600;
	font-style: italic;
}

.pendingMember {
	margin-bottom: 0.5rem;
	width: auto;
	max-width: 100%;
	overflow-wrap: break-word;
}

.pendingMember p {
	margin-bottom: 0rem !important;
	max-width: 100%;
	text-align: left;
	/* wrap */
	overflow-wrap: anywhere;
}

.MemberItemText {
	margin-right: 0.5rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
}
