.flexContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100vw;
	position: absolute;
	bottom: 0;
}
.loading {
	display: flex;
	align-items: center;
	transform: perspective(1px) rotateX(90deg);
	transform-style: preserve-3d;
	position: absolute;
	bottom: 0;
}

.loading:nth-of-type(1) {
	left: 0;
}

.loading:nth-of-type(2) {
	right: 0;
}

.spotlight {
	position: absolute;
	width: auto;
	height: auto;
}

.spotlight:nth-of-type(1) {
	bottom: 0;
	left: 0;
	rotate: 150deg;
	transform: scaleX(-1);
}

.spotlight:nth-of-type(2) {
	bottom: 0;
	right: 0;
	rotate: 210deg;
	transform: scaleX(1);
}
@keyframes rotColor {
	25% {
		background-color: #8400ff;
		rotate: 30deg;
	}
	75% {
		background-color: #00ffff;
		rotate: -30deg;
	}
}

.l {
	opacity: 0.2;
	width: 50%;
	height: 100%;
	z-index: 99999;
	animation: rotColor 2s ease-in-out infinite;
}
.l:nth-of-type(1) {
	clip-path: polygon(57% 3%, 0% 100%, 100% 43%);
	position: absolute;
	bottom: 0;
	left: 0;
	margin-left: 60px;
	margin-bottom: 45px;
	transform-origin: bottom left;
}

.l:nth-of-type(2) {
	clip-path: polygon(43% 1%, 2% 57%, 100% 100%);
	position: absolute;
	bottom: 0;
	right: 0;
	/* transform: scaleX(-1); */
	margin-right: 60px;
	margin-bottom: 45px;
	transform-origin: bottom right;
}
