.FtrWrapper {
	height: 48px;
	background-color: var(--bg-color-primary);
	border-top: 2px solid var(--border-color);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 2px 48px;
	z-index: 3;
	position: relative;
	/* margin-top: 1.25rem; */
}

@media screen and (max-width: 640px) {
	.FtrWrapper {
		padding: 2px 12px;
	}
}

.Socials a {
	margin: 0 0.2rem;
}

.Socials a img {
	transition: transform 0.05s ease-in-out;
	transition: box-shadow 0.05s ease-in-out;
	transform-origin: center;
	border-radius: 8px;
}

.Socials a:hover img {
	transform: scale(1.1);
	box-shadow: 0 0 10px 0 var(--shadow-color);
}
