.NavWrapper {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: 64px;
	width: 100%;
	background-color: transparent;
	position: fixed;
	transition: background-color 0.25s ease;
	z-index: 6;
}

.NavWrapper ul {
	width: 100%;
	text-decoration: none;
	list-style: none;
	margin-bottom: 0;
}

#NavLogo {
	width: 50px;
	height: 50px;
	transition: width 0.5s ease, height 0.5s ease;
}

.scrolledNav {
	background-color: var(--nav-color);
}

:not(.scrolledNav) #NavLogo {
	width: 55px;
	height: 55px;
	background-color: var(--nav-color);
}

#NavLogo:hover,
#NavLogo:focus,
#NavLogo:active {
	cursor: pointer;
	animation: NavLogoBark 2s infinite backwards;
	width: 55px;
	height: 55px;
	transition: width 0.5s ease, height 0.5s ease;
	display: flex;
	flex-direction: row;
}

@keyframes NavLogoBark {
	0% {
		transform: rotate(0deg);
	}
	35% {
		transform: rotate(-20deg);
	}
	70% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(0deg);
	}
}
