@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Variables */
:root {
	--bg-color-primary: var(--celadon-blue);

	--border-color: black;
	--shadow-color: rgba(0, 0, 0, 0.5);

	--nav-color: #ffe15c;
	--nav-color-hover: #7045f1;
	--nav-border-color: #7045f1;

	/* ! Not as important, no touchy below usually */

	--font-color-title: white;
	--font-color-subtitle: white;
	--font-color-normal: white;
	--font-color-heavy: #ff4444;
	--font-color-link: #ffd20a;
	--font-color-link-hover: #e0b700;

	--aero: #6ab6dcff;
	--carolina-blue: #49a6d4ff;
	--blue-ncs: #2f94c6ff;
	--celadon-blue: #277ba5ff;
	--blue-sapphire: #1f6284ff;
	--saffron: #e0b700ff;
	--cyber-yellow: #ffd20aff;
	--school-bus-yellow: #ffda33ff;
	--naples-yellow: #ffe15cff;
	--yellow-crayola: #ffe570ff;

	--font-size-title: 2.5rem;
	--font-size-subtitle: 1.5rem;
	--font-size-normal: 1rem;
	--font-size-small: 0.75rem;

	--font-weight-title: 700;
	--font-weight-subtitle: 600;
	--font-weight-normal: 400;
	--font-weight-small: 300;
	--font-weight-link: 600;

	--font-family-title: "Raleway", sans-serif;
	--font-family-subtitle: "Raleway", sans-serif;
	--font-family-normal: "Raleway", sans-serif;
	--font-family-small: "Raleway", sans-serif;
	--font-family-link: "Raleway", sans-serif;
}

/* Below is a css reset. It fixes some common issues with cross-browser compatibility. */
* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

/* Actual CSS */
body,
main {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box !important;
	font-family: var(--font-family-normal) !important;
	background-color: var(--bg-color-primary) !important;
}

html {
	scroll-behavior: smooth;

	/* This is a hack to fix the scroll-behavior on Safari */
	-webkit-overflow-scrolling: touch;
}

.hidden {
	display: none;
}

.fadeIn {
	opacity: 0;
	transition: opacity 1s;
	overflow-x: hidden;
}

.fadeIn.visible {
	opacity: 1;
}

.swipeFromLeft {
	transform: translateX(-100vw);
	transition: transform 1s;
	overflow-x: hidden;
}

.swipeFromLeft.visible {
	transform: translateX(0);
}

.swipeFromRight {
	transform: translateX(100%);
	transition: transform 1s;
	overflow-x: hidden;
}

.swipeFromRight.visible {
	transform: translateX(0);
}

.z-0 {
	z-index: 0;
}

.z-1 {
	z-index: 1;
}

.z-2 {
	z-index: 2;
}

.z-3 {
	z-index: 3;
}

.z-4 {
	z-index: 4;
}

.z-5 {
	z-index: 5;
}

h1 {
	font-size: var(--font-size-title);
	font-weight: var(--font-weight-title);
	font-family: var(--font-family-title);
	color: var(--font-color-title);
}

h2 {
	font-size: var(--font-size-subtitle);
	font-weight: var(--font-weight-subtitle);
	font-family: var(--font-family-subtitle);
	color: var(--font-color-subtitle);
}

h3 {
	font-size: var(--font-size-alttitle);
	font-weight: var(--font-weight-alttitle);
	font-family: var(--font-family-alttitle);
	color: var(--font-color-alttitle);
}

p {
	font-size: var(--font-size-normal);
	font-weight: var(--font-weight-normal);
	font-family: var(--font-family-normal);
	color: var(--font-color-normal);

	margin-bottom: 0 !important;
}

a {
	font-size: var(--font-color-normal);
	font-weight: var(--font-weight-link);
	font-family: var(--font-family-link) !important;
	color: var(--font-color-link) !important;
	text-decoration: none !important;
}

a:hover {
	color: var(--font-color-link-hover) !important;
	/* text-decoration: underline !important; */
}

.hoverUnderlineAnim {
	display: inline-block;
	position: relative;
	color: var(--font-color-link);
	font-weight: var(--font-weight-link);
}

.hoverUnderlineAnim::after {
	content: "";
	position: absolute;
	width: 100%;
	transform: scaleX(0);
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: var(--font-color-link);
	transform-origin: bottom right;
	transition: transform 0.25s ease-out;
}

.hoverUnderlineAnim:hover::after {
	transform: scaleX(1);
	transform-origin: bottom left;
}

/* NOT STOLEN BUTTON */

.LoadButton-pushable {
	position: relative;
	border: none;
	background: transparent;
	padding: 0;
	cursor: pointer;
	outline-offset: 4px;
	transition: filter 250ms;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
}

.LoadButton-shadow {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 6px;
	background: hsl(0deg 0% 0% / 0.25);
	will-change: transform;
	transform: translateY(2px);
	transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}

.LoadButton-edge {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 6px;
	background: linear-gradient(
		to left,
		rgb(22, 111, 220) 0%,
		rgb(18, 104, 175) 8%,
		rgb(18, 104, 175) 92%,
		rgb(22, 111, 220) 100%
	);
}

.LoadButton-front {
	display: block;
	position: relative;
	padding: 4px 16px;
	border-radius: 6px;
	font-size: 1.1rem;
	color: white;
	background: rgb(0, 132, 255);
	will-change: transform;
	transform: translateY(-4px);
	transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}

.LoadButton-pushable:hover {
	filter: brightness(110%);
	-webkit-filter: brightness(110%);
}

.LoadButton-pushable:hover .LoadButton-front {
	transform: translateY(-6px);
	transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

.LoadButton-pushable:active .LoadButton-front {
	transform: translateY(-2px);
	transition: transform 34ms;
}

.LoadButton-pushable:hover .LoadButton-shadow {
	transform: translateY(4px);
	transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

.LoadButton-pushable:active .LoadButton-shadow {
	transform: translateY(1px);
	transition: transform 34ms;
}

.LoadButton-pushable:focus:not(:focus-visible) {
	outline: none;
}

/* ** Approve button */
.ApproveButton-pushable {
	position: relative;
	border: none;
	background: transparent;
	padding: 0;
	cursor: pointer;
	outline-offset: 4px;
	transition: filter 250ms;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
}

.ApproveButton-shadow {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 6px;
	background: hsl(0deg 0% 0% / 0.25);
	will-change: transform;
	transform: translateY(2px);
	transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}

.ApproveButton-edge {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 6px;
	background: linear-gradient(
		to left,
		#1d9c61 0%,
		#1a7c4e 8%,
		#1a7c4e 92%,
		#1d9c61 100%
	);
}

.ApproveButton-front {
	display: block;
	position: relative;
	padding: 4px 16px;
	border-radius: 6px;
	font-size: 1.1rem;
	color: white;
	background: #1fa667;
	will-change: transform;
	transform: translateY(-4px);
	transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}

.ApproveButton-pushable:hover {
	filter: brightness(110%);
	-webkit-filter: brightness(110%);
}

.ApproveButton-pushable:hover .ApproveButton-front {
	transform: translateY(-6px);
	transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

.ApproveButton-pushable:active .ApproveButton-front {
	transform: translateY(-2px);
	transition: transform 34ms;
}

.ApproveButton-pushable:hover .ApproveButton-shadow {
	transform: translateY(4px);
	transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

.ApproveButton-pushable:active .ApproveButton-shadow {
	transform: translateY(1px);
	transition: transform 34ms;
}

.ApproveButton-pushable:focus:not(:focus-visible) {
	outline: none;
}

/* ! Deny button */
.DenyButton-pushable {
	position: relative;
	border: none;
	background: transparent;
	padding: 0;
	cursor: pointer;
	outline-offset: 4px;
	transition: filter 250ms;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
}

.DenyButton-shadow {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 6px;
	background: hsl(0deg 0% 0% / 0.25);
	will-change: transform;
	transform: translateY(2px);
	transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}

.DenyButton-edge {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 6px;
	background: linear-gradient(
		to left,
		#bb2c3a 0%,
		#98222e 8%,
		#98222e 92%,
		#bb2c3a 100%
	);
}

.DenyButton-front {
	display: block;
	position: relative;
	padding: 4px 16px;
	border-radius: 6px;
	font-size: 1.1rem;
	color: white;
	background: #dc3545;
	will-change: transform;
	transform: translateY(-4px);
	transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}

.DenyButton-pushable:hover {
	filter: brightness(110%);
	-webkit-filter: brightness(110%);
}

.DenyButton-pushable:hover .DenyButton-front {
	transform: translateY(-6px);
	transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

.DenyButton-pushable:active .DenyButton-front {
	transform: translateY(-2px);
	transition: transform 34ms;
}

.DenyButton-pushable:hover .DenyButton-shadow {
	transform: translateY(4px);
	transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

.DenyButton-pushable:active .DenyButton-shadow {
	transform: translateY(1px);
	transition: transform 34ms;
}

.DenyButton-pushable:focus:not(:focus-visible) {
	outline: none;
}

.snake:after {
	-webkit-animation: snake 2s infinite both ease;
	animation: snake 2s infinite both ease;
	border-radius: 100%;
	content: "";
	height: 10px;
	left: 50%;
	margin-left: -32.5px;
	margin-top: -5px;
	position: absolute;
	top: 50%;
	width: 10px;
}

@-webkit-keyframes snake {
	0%,
	5% {
		-webkit-box-shadow: 15px 15px 0 -10px white, 30px 15px 0 -10px white,
			45px 15px 0 -10px white, 45px 0 0 -10px white, 45px -15px 0 -10px white,
			30px -15px 0 -10px white, 15px -15px 0 -10px white, 15px 0 0 -10px white,
			30px 0 0 -10px white;
		box-shadow: 15px 15px 0 -10px white, 30px 15px 0 -10px white,
			45px 15px 0 -10px white, 45px 0 0 -10px white, 45px -15px 0 -10px white,
			30px -15px 0 -10px white, 15px -15px 0 -10px white, 15px 0 0 -10px white,
			30px 0 0 -10px white;
	}
	10% {
		-webkit-box-shadow: 15px 15px 0 0 white, 30px 15px 0 -10px white,
			45px 15px 0 -10px white, 45px 0 0 -10px white, 45px -15px 0 -10px white,
			30px -15px 0 -10px white, 15px -15px 0 -10px white, 15px 0 0 -10px white,
			30px 0 0 -10px white;
		box-shadow: 15px 15px 0 0 white, 30px 15px 0 -10px white,
			45px 15px 0 -10px white, 45px 0 0 -10px white, 45px -15px 0 -10px white,
			30px -15px 0 -10px white, 15px -15px 0 -10px white, 15px 0 0 -10px white,
			30px 0 0 -10px white;
	}
	15% {
		-webkit-box-shadow: 15px 15px 0 0 white, 30px 15px 0 0 white,
			45px 15px 0 -10px white, 45px 0 0 -10px white, 45px -15px 0 -10px white,
			30px -15px 0 -10px white, 15px -15px 0 -10px white, 15px 0 0 -10px white,
			30px 0 0 -10px white;
		box-shadow: 15px 15px 0 0 white, 30px 15px 0 0 white,
			45px 15px 0 -10px white, 45px 0 0 -10px white, 45px -15px 0 -10px white,
			30px -15px 0 -10px white, 15px -15px 0 -10px white, 15px 0 0 -10px white,
			30px 0 0 -10px white;
	}
	20% {
		-webkit-box-shadow: 15px 15px 0 0 white, 30px 15px 0 0 white,
			45px 15px 0 0 white, 45px 0 0 -10px white, 45px -15px 0 -10px white,
			30px -15px 0 -10px white, 15px -15px 0 -10px white, 15px 0 0 -10px white,
			30px 0 0 -10px white;
		box-shadow: 15px 15px 0 0 white, 30px 15px 0 0 white, 45px 15px 0 0 white,
			45px 0 0 -10px white, 45px -15px 0 -10px white, 30px -15px 0 -10px white,
			15px -15px 0 -10px white, 15px 0 0 -10px white, 30px 0 0 -10px white;
	}
	25% {
		-webkit-box-shadow: 15px 15px 0 0 white, 30px 15px 0 0 white,
			45px 15px 0 0 white, 45px 0 0 0 white, 45px -15px 0 -10px white,
			30px -15px 0 -10px white, 15px -15px 0 -10px white, 15px 0 0 -10px white,
			30px 0 0 -10px white;
		box-shadow: 15px 15px 0 0 white, 30px 15px 0 0 white, 45px 15px 0 0 white,
			45px 0 0 0 white, 45px -15px 0 -10px white, 30px -15px 0 -10px white,
			15px -15px 0 -10px white, 15px 0 0 -10px white, 30px 0 0 -10px white;
	}
	30% {
		-webkit-box-shadow: 15px 15px 0 0 white, 30px 15px 0 0 white,
			45px 15px 0 0 white, 45px 0 0 0 white, 45px -15px 0 0 white,
			30px -15px 0 -10px white, 15px -15px 0 -10px white, 15px 0 0 -10px white,
			30px 0 0 -10px white;
		box-shadow: 15px 15px 0 0 white, 30px 15px 0 0 white, 45px 15px 0 0 white,
			45px 0 0 0 white, 45px -15px 0 0 white, 30px -15px 0 -10px white,
			15px -15px 0 -10px white, 15px 0 0 -10px white, 30px 0 0 -10px white;
	}
	35% {
		-webkit-box-shadow: 15px 15px 0 0 white, 30px 15px 0 0 white,
			45px 15px 0 0 white, 45px 0 0 0 white, 45px -15px 0 0 white,
			30px -15px 0 0 white, 15px -15px 0 -10px white, 15px 0 0 -10px white,
			30px 0 0 -10px white;
		box-shadow: 15px 15px 0 0 white, 30px 15px 0 0 white, 45px 15px 0 0 white,
			45px 0 0 0 white, 45px -15px 0 0 white, 30px -15px 0 0 white,
			15px -15px 0 -10px white, 15px 0 0 -10px white, 30px 0 0 -10px white;
	}
	40% {
		-webkit-box-shadow: 15px 15px 0 0 white, 30px 15px 0 0 white,
			45px 15px 0 0 white, 45px 0 0 0 white, 45px -15px 0 0 white,
			30px -15px 0 0 white, 15px -15px 0 0 white, 15px 0 0 -10px white,
			30px 0 0 -10px white;
		box-shadow: 15px 15px 0 0 white, 30px 15px 0 0 white, 45px 15px 0 0 white,
			45px 0 0 0 white, 45px -15px 0 0 white, 30px -15px 0 0 white,
			15px -15px 0 0 white, 15px 0 0 -10px white, 30px 0 0 -10px white;
	}
	45% {
		-webkit-box-shadow: 15px 15px 0 0 white, 30px 15px 0 0 white,
			45px 15px 0 0 white, 45px 0 0 0 white, 45px -15px 0 0 white,
			30px -15px 0 0 white, 15px -15px 0 0 white, 15px 0 0 0 white,
			30px 0 0 -10px white;
		box-shadow: 15px 15px 0 0 white, 30px 15px 0 0 white, 45px 15px 0 0 white,
			45px 0 0 0 white, 45px -15px 0 0 white, 30px -15px 0 0 white,
			15px -15px 0 0 white, 15px 0 0 0 white, 30px 0 0 -10px white;
	}
	50% {
		-webkit-box-shadow: 15px 15px 0 0 white, 30px 15px 0 0 white,
			45px 15px 0 0 white, 45px 0 0 0 white, 45px -15px 0 0 white,
			30px -15px 0 0 white, 15px -15px 0 0 white, 15px 0 0 0 white,
			30px 0 0 0 white;
		box-shadow: 15px 15px 0 0 white, 30px 15px 0 0 white, 45px 15px 0 0 white,
			45px 0 0 0 white, 45px -15px 0 0 white, 30px -15px 0 0 white,
			15px -15px 0 0 white, 15px 0 0 0 white, 30px 0 0 0 white;
	}
	55% {
		-webkit-box-shadow: 15px 15px 0 -10px white, 30px 15px 0 0 white,
			45px 15px 0 0 white, 45px 0 0 0 white, 45px -15px 0 0 white,
			30px -15px 0 0 white, 15px -15px 0 0 white, 15px 0 0 0 white,
			30px 0 0 0 white;
		box-shadow: 15px 15px 0 -10px white, 30px 15px 0 0 white,
			45px 15px 0 0 white, 45px 0 0 0 white, 45px -15px 0 0 white,
			30px -15px 0 0 white, 15px -15px 0 0 white, 15px 0 0 0 white,
			30px 0 0 0 white;
	}
	60% {
		-webkit-box-shadow: 15px 15px 0 -10px white, 30px 15px 0 -10px white,
			45px 15px 0 0 white, 45px 0 0 0 white, 45px -15px 0 0 white,
			30px -15px 0 0 white, 15px -15px 0 0 white, 15px 0 0 0 white,
			30px 0 0 0 white;
		box-shadow: 15px 15px 0 -10px white, 30px 15px 0 -10px white,
			45px 15px 0 0 white, 45px 0 0 0 white, 45px -15px 0 0 white,
			30px -15px 0 0 white, 15px -15px 0 0 white, 15px 0 0 0 white,
			30px 0 0 0 white;
	}
	65% {
		-webkit-box-shadow: 15px 15px 0 -10px white, 30px 15px 0 -10px white,
			45px 15px 0 -10px white, 45px 0 0 0 white, 45px -15px 0 0 white,
			30px -15px 0 0 white, 15px -15px 0 0 white, 15px 0 0 0 white,
			30px 0 0 0 white;
		box-shadow: 15px 15px 0 -10px white, 30px 15px 0 -10px white,
			45px 15px 0 -10px white, 45px 0 0 0 white, 45px -15px 0 0 white,
			30px -15px 0 0 white, 15px -15px 0 0 white, 15px 0 0 0 white,
			30px 0 0 0 white;
	}
	70% {
		-webkit-box-shadow: 15px 15px 0 -10px white, 30px 15px 0 -10px white,
			45px 15px 0 -10px white, 45px 0 0 -10px white, 45px -15px 0 0 white,
			30px -15px 0 0 white, 15px -15px 0 0 white, 15px 0 0 0 white,
			30px 0 0 0 white;
		box-shadow: 15px 15px 0 -10px white, 30px 15px 0 -10px white,
			45px 15px 0 -10px white, 45px 0 0 -10px white, 45px -15px 0 0 white,
			30px -15px 0 0 white, 15px -15px 0 0 white, 15px 0 0 0 white,
			30px 0 0 0 white;
	}
	75% {
		-webkit-box-shadow: 15px 15px 0 -10px white, 30px 15px 0 -10px white,
			45px 15px 0 -10px white, 45px 0 0 -10px white, 45px -15px 0 -10px white,
			30px -15px 0 0 white, 15px -15px 0 0 white, 15px 0 0 0 white,
			30px 0 0 0 white;
		box-shadow: 15px 15px 0 -10px white, 30px 15px 0 -10px white,
			45px 15px 0 -10px white, 45px 0 0 -10px white, 45px -15px 0 -10px white,
			30px -15px 0 0 white, 15px -15px 0 0 white, 15px 0 0 0 white,
			30px 0 0 0 white;
	}
	80% {
		-webkit-box-shadow: 15px 15px 0 -10px white, 30px 15px 0 -10px white,
			45px 15px 0 -10px white, 45px 0 0 -10px white, 45px -15px 0 -10px white,
			30px -15px 0 -10px white, 15px -15px 0 0 white, 15px 0 0 0 white,
			30px 0 0 0 white;
		box-shadow: 15px 15px 0 -10px white, 30px 15px 0 -10px white,
			45px 15px 0 -10px white, 45px 0 0 -10px white, 45px -15px 0 -10px white,
			30px -15px 0 -10px white, 15px -a15px 0 0 white, 15px 0 0 0 white,
			30px 0 0 0 white;
	}
	85% {
		-webkit-box-shadow: 15px 15px 0 -10px white, 30px 15px 0 -10px white,
			45px 15px 0 -10px white, 45px 0 0 -10px white, 45px -15px 0 -10px white,
			30px -15px 0 -10px white, 15px -15px 0 -10px white, 15px 0 0 0 white,
			30px 0 0 0 white;
		box-shadow: 15px 15px 0 -10px white, 30px 15px 0 -10px white,
			45px 15px 0 -10px white, 45px 0 0 -10px white, 45px -15px 0 -10px white,
			30px -15px 0 -10px white, 15px -15px 0 -10px white, 15px 0 0 0 white,
			30px 0 0 0 white;
	}
	90% {
		-webkit-box-shadow: 15px 15px 0 -10px white, 30px 15px 0 -10px white,
			45px 15px 0 -10px white, 45px 0 0 -10px white, 45px -15px 0 -10px white,
			30px -15px 0 -10px white, 15px -15px 0 -10px white, 15px 0 0 -10px white,
			30px 0 0 0 white;
		box-shadow: 15px 15px 0 -10px white, 30px 15px 0 -10px white,
			45px 15px 0 -10px white, 45px 0 0 -10px white, 45px -15px 0 -10px white,
			30px -15px 0 -10px white, 15px -15px 0 -10px white, 15px 0 0 -10px white,
			30px 0 0 0 white;
	}
	95%,
	100% {
		-webkit-box-shadow: 15px 15px 0 -10px white, 30px 15px 0 -10px white,
			45px 15px 0 -10px white, 45px 0 0 -10px white, 45px -15px 0 -10px white,
			30px -15px 0 -10px white, 15px -15px 0 -10px white, 15px 0 0 -10px white,
			30px 0 0 -10px white;
		box-shadow: 15px 15px 0 -10px white, 30px 15px 0 -10px white,
			45px 15px 0 -10px white, 45px 0 0 -10px white, 45px -15px 0 -10px white,
			30px -15px 0 -10px white, 15px -15px 0 -10px white, 15px 0 0 -10px white,
			30px 0 0 -10px white;
	}
}

@keyframes snake {
	0%,
	5% {
		-webkit-box-shadow: 15px 15px 0 -10px white, 30px 15px 0 -10px white,
			45px 15px 0 -10px white, 45px 0 0 -10px white, 45px -15px 0 -10px white,
			30px -15px 0 -10px white, 15px -15px 0 -10px white, 15px 0 0 -10px white,
			30px 0 0 -10px white;
		box-shadow: 15px 15px 0 -10px white, 30px 15px 0 -10px white,
			45px 15px 0 -10px white, 45px 0 0 -10px white, 45px -15px 0 -10px white,
			30px -15px 0 -10px white, 15px -15px 0 -10px white, 15px 0 0 -10px white,
			30px 0 0 -10px white;
	}
	10% {
		-webkit-box-shadow: 15px 15px 0 0 white, 30px 15px 0 -10px white,
			45px 15px 0 -10px white, 45px 0 0 -10px white, 45px -15px 0 -10px white,
			30px -15px 0 -10px white, 15px -15px 0 -10px white, 15px 0 0 -10px white,
			30px 0 0 -10px white;
		box-shadow: 15px 15px 0 0 white, 30px 15px 0 -10px white,
			45px 15px 0 -10px white, 45px 0 0 -10px white, 45px -15px 0 -10px white,
			30px -15px 0 -10px white, 15px -15px 0 -10px white, 15px 0 0 -10px white,
			30px 0 0 -10px white;
	}
	15% {
		-webkit-box-shadow: 15px 15px 0 0 white, 30px 15px 0 0 white,
			45px 15px 0 -10px white, 45px 0 0 -10px white, 45px -15px 0 -10px white,
			30px -15px 0 -10px white, 15px -15px 0 -10px white, 15px 0 0 -10px white,
			30px 0 0 -10px white;
		box-shadow: 15px 15px 0 0 white, 30px 15px 0 0 white,
			45px 15px 0 -10px white, 45px 0 0 -10px white, 45px -15px 0 -10px white,
			30px -15px 0 -10px white, 15px -15px 0 -10px white, 15px 0 0 -10px white,
			30px 0 0 -10px white;
	}
	20% {
		-webkit-box-shadow: 15px 15px 0 0 white, 30px 15px 0 0 white,
			45px 15px 0 0 white, 45px 0 0 -10px white, 45px -15px 0 -10px white,
			30px -15px 0 -10px white, 15px -15px 0 -10px white, 15px 0 0 -10px white,
			30px 0 0 -10px white;
		box-shadow: 15px 15px 0 0 white, 30px 15px 0 0 white, 45px 15px 0 0 white,
			45px 0 0 -10px white, 45px -15px 0 -10px white, 30px -15px 0 -10px white,
			15px -15px 0 -10px white, 15px 0 0 -10px white, 30px 0 0 -10px white;
	}
	25% {
		-webkit-box-shadow: 15px 15px 0 0 white, 30px 15px 0 0 white,
			45px 15px 0 0 white, 45px 0 0 0 white, 45px -15px 0 -10px white,
			30px -15px 0 -10px white, 15px -15px 0 -10px white, 15px 0 0 -10px white,
			30px 0 0 -10px white;
		box-shadow: 15px 15px 0 0 white, 30px 15px 0 0 white, 45px 15px 0 0 white,
			45px 0 0 0 white, 45px -15px 0 -10px white, 30px -15px 0 -10px white,
			15px -15px 0 -10px white, 15px 0 0 -10px white, 30px 0 0 -10px white;
	}
	30% {
		-webkit-box-shadow: 15px 15px 0 0 white, 30px 15px 0 0 white,
			45px 15px 0 0 white, 45px 0 0 0 white, 45px -15px 0 0 white,
			30px -15px 0 -10px white, 15px -15px 0 -10px white, 15px 0 0 -10px white,
			30px 0 0 -10px white;
		box-shadow: 15px 15px 0 0 white, 30px 15px 0 0 white, 45px 15px 0 0 white,
			45px 0 0 0 white, 45px -15px 0 0 white, 30px -15px 0 -10px white,
			15px -15px 0 -10px white, 15px 0 0 -10px white, 30px 0 0 -10px white;
	}
	35% {
		-webkit-box-shadow: 15px 15px 0 0 white, 30px 15px 0 0 white,
			45px 15px 0 0 white, 45px 0 0 0 white, 45px -15px 0 0 white,
			30px -15px 0 0 white, 15px -15px 0 -10px white, 15px 0 0 -10px white,
			30px 0 0 -10px white;
		box-shadow: 15px 15px 0 0 white, 30px 15px 0 0 white, 45px 15px 0 0 white,
			45px 0 0 0 white, 45px -15px 0 0 white, 30px -15px 0 0 white,
			15px -15px 0 -10px white, 15px 0 0 -10px white, 30px 0 0 -10px white;
	}
	40% {
		-webkit-box-shadow: 15px 15px 0 0 white, 30px 15px 0 0 white,
			45px 15px 0 0 white, 45px 0 0 0 white, 45px -15px 0 0 white,
			30px -15px 0 0 white, 15px -15px 0 0 white, 15px 0 0 -10px white,
			30px 0 0 -10px white;
		box-shadow: 15px 15px 0 0 white, 30px 15px 0 0 white, 45px 15px 0 0 white,
			45px 0 0 0 white, 45px -15px 0 0 white, 30px -15px 0 0 white,
			15px -15px 0 0 white, 15px 0 0 -10px white, 30px 0 0 -10px white;
	}
	45% {
		-webkit-box-shadow: 15px 15px 0 0 white, 30px 15px 0 0 white,
			45px 15px 0 0 white, 45px 0 0 0 white, 45px -15px 0 0 white,
			30px -15px 0 0 white, 15px -15px 0 0 white, 15px 0 0 0 white,
			30px 0 0 -10px white;
		box-shadow: 15px 15px 0 0 white, 30px 15px 0 0 white, 45px 15px 0 0 white,
			45px 0 0 0 white, 45px -15px 0 0 white, 30px -15px 0 0 white,
			15px -15px 0 0 white, 15px 0 0 0 white, 30px 0 0 -10px white;
	}
	50% {
		-webkit-box-shadow: 15px 15px 0 0 white, 30px 15px 0 0 white,
			45px 15px 0 0 white, 45px 0 0 0 white, 45px -15px 0 0 white,
			30px -15px 0 0 white, 15px -15px 0 0 white, 15px 0 0 0 white,
			30px 0 0 0 white;
		box-shadow: 15px 15px 0 0 white, 30px 15px 0 0 white, 45px 15px 0 0 white,
			45px 0 0 0 white, 45px -15px 0 0 white, 30px -15px 0 0 white,
			15px -15px 0 0 white, 15px 0 0 0 white, 30px 0 0 0 white;
	}
	55% {
		-webkit-box-shadow: 15px 15px 0 -10px white, 30px 15px 0 0 white,
			45px 15px 0 0 white, 45px 0 0 0 white, 45px -15px 0 0 white,
			30px -15px 0 0 white, 15px -15px 0 0 white, 15px 0 0 0 white,
			30px 0 0 0 white;
		box-shadow: 15px 15px 0 -10px white, 30px 15px 0 0 white,
			45px 15px 0 0 white, 45px 0 0 0 white, 45px -15px 0 0 white,
			30px -15px 0 0 white, 15px -15px 0 0 white, 15px 0 0 0 white,
			30px 0 0 0 white;
	}
	60% {
		-webkit-box-shadow: 15px 15px 0 -10px white, 30px 15px 0 -10px white,
			45px 15px 0 0 white, 45px 0 0 0 white, 45px -15px 0 0 white,
			30px -15px 0 0 white, 15px -15px 0 0 white, 15px 0 0 0 white,
			30px 0 0 0 white;
		box-shadow: 15px 15px 0 -10px white, 30px 15px 0 -10px white,
			45px 15px 0 0 white, 45px 0 0 0 white, 45px -15px 0 0 white,
			30px -15px 0 0 white, 15px -15px 0 0 white, 15px 0 0 0 white,
			30px 0 0 0 white;
	}
	65% {
		-webkit-box-shadow: 15px 15px 0 -10px white, 30px 15px 0 -10px white,
			45px 15px 0 -10px white, 45px 0 0 0 white, 45px -15px 0 0 white,
			30px -15px 0 0 white, 15px -15px 0 0 white, 15px 0 0 0 white,
			30px 0 0 0 white;
		box-shadow: 15px 15px 0 -10px white, 30px 15px 0 -10px white,
			45px 15px 0 -10px white, 45px 0 0 0 white, 45px -15px 0 0 white,
			30px -15px 0 0 white, 15px -15px 0 0 white, 15px 0 0 0 white,
			30px 0 0 0 white;
	}
	70% {
		-webkit-box-shadow: 15px 15px 0 -10px white, 30px 15px 0 -10px white,
			45px 15px 0 -10px white, 45px 0 0 -10px white, 45px -15px 0 0 white,
			30px -15px 0 0 white, 15px -15px 0 0 white, 15px 0 0 0 white,
			30px 0 0 0 white;
		box-shadow: 15px 15px 0 -10px white, 30px 15px 0 -10px white,
			45px 15px 0 -10px white, 45px 0 0 -10px white, 45px -15px 0 0 white,
			30px -15px 0 0 white, 15px -15px 0 0 white, 15px 0 0 0 white,
			30px 0 0 0 white;
	}
	75% {
		-webkit-box-shadow: 15px 15px 0 -10px white, 30px 15px 0 -10px white,
			45px 15px 0 -10px white, 45px 0 0 -10px white, 45px -15px 0 -10px white,
			30px -15px 0 0 white, 15px -15px 0 0 white, 15px 0 0 0 white,
			30px 0 0 0 white;
		box-shadow: 15px 15px 0 -10px white, 30px 15px 0 -10px white,
			45px 15px 0 -10px white, 45px 0 0 -10px white, 45px -15px 0 -10px white,
			30px -15px 0 0 white, 15px -15px 0 0 white, 15px 0 0 0 white,
			30px 0 0 0 white;
	}
	80% {
		-webkit-box-shadow: 15px 15px 0 -10px white, 30px 15px 0 -10px white,
			45px 15px 0 -10px white, 45px 0 0 -10px white, 45px -15px 0 -10px white,
			30px -15px 0 -10px white, 15px -15px 0 0 white, 15px 0 0 0 white,
			30px 0 0 0 white;
		box-shadow: 15px 15px 0 -10px white, 30px 15px 0 -10px white,
			45px 15px 0 -10px white, 45px 0 0 -10px white, 45px -15px 0 -10px white,
			30px -15px 0 -10px white, 15px -15px 0 0 white, 15px 0 0 0 white,
			30px 0 0 0 white;
	}
	85% {
		-webkit-box-shadow: 15px 15px 0 -10px white, 30px 15px 0 -10px white,
			45px 15px 0 -10px white, 45px 0 0 -10px white, 45px -15px 0 -10px white,
			30px -15px 0 -10px white, 15px -15px 0 -10px white, 15px 0 0 0 white,
			30px 0 0 0 white;
		box-shadow: 15px 15px 0 -10px white, 30px 15px 0 -10px white,
			45px 15px 0 -10px white, 45px 0 0 -10px white, 45px -15px 0 -10px white,
			30px -15px 0 -10px white, 15px -15px 0 -10px white, 15px 0 0 0 white,
			30px 0 0 0 white;
	}
	90% {
		-webkit-box-shadow: 15px 15px 0 -10px white, 30px 15px 0 -10px white,
			45px 15px 0 -10px white, 45px 0 0 -10px white, 45px -15px 0 -10px white,
			30px -15px 0 -10px white, 15px -15px 0 -10px white, 15px 0 0 -10px white,
			30px 0 0 0 white;
		box-shadow: 15px 15px 0 -10px white, 30px 15px 0 -10px white,
			45px 15px 0 -10px white, 45px 0 0 -10px white, 45px -15px 0 -10px white,
			30px -15px 0 -10px white, 15px -15px 0 -10px white, 15px 0 0 -10px white,
			30px 0 0 0 white;
	}
	95%,
	100% {
		-webkit-box-shadow: 15px 15px 0 -10px white, 30px 15px 0 -10px white,
			45px 15px 0 -10px white, 45px 0 0 -10px white, 45px -15px 0 -10px white,
			30px -15px 0 -10px white, 15px -15px 0 -10px white, 15px 0 0 -10px white,
			30px 0 0 -10px white;
		box-shadow: 15px 15px 0 -10px white, 30px 15px 0 -10px white,
			45px 15px 0 -10px white, 45px 0 0 -10px white, 45px -15px 0 -10px white,
			30px -15px 0 -10px white, 15px -15px 0 -10px white, 15px 0 0 -10px white,
			30px 0 0 -10px white;
	}
}
